include ../custom_module/title.pug
- var cssURL = '/ezfiles/671/1671/img/8852/'
- var jsURL = '/ezfiles/671/1671/img/8853/'
- var url = '/ezfiles/671/1671/img/8854/'
<!DOCTYPE html>
html(lang="zh-hant")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/earlyaccess/notosanstc.css")
		link(rel="stylesheet", href=cssURL+"usercss.css")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js")
		<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.0/masonry.pkgd.min.js"></script>
		script(src="https://unpkg.com/vue")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js")
		script(src=jsURL+"userjs.js")
		title Document
	body
		include ../custom_module/navbar3.pug
		include ../custom_module/owlcarousel.pug

		section.idx.section.section-1.container-fluid
			.row
				.col-xs-12.module-title.text-center
					span.svg(style="background:url("+url+"title-arrow-1.svg); width: 20px; height: 17px;")
					h3.title.text-center.fz28 服務項目
					h4.title.text-center.fz22 Service
			.row.list.text-center
				.col-sm-6.col-md-3.col-xs-12
					.img
						img(src=url+"section-1-img-1.png", alt="")
						figcaption.text-white.text-center.bg-yellow.fz21 貼身隨扈
					.text.fz13.text-center
						p 天鷹保全之特勤人員是以國軍特勤人員退役為基礎，武術技能為基本要求，且皆需通過國家檢定達段位以上。
						p 除段證為基本要求，另定期接受具備跆拳、柔道等武術特殊之專業技能訓練，定時檢測體能。執行貼身隨扈勤務，防範威脅、暴力侵犯，以客戶的安全為第一考量。
				.col-sm-6.col-md-3.col-xs-12
					.img
						img(src=url+"section-1-img-2.png", alt="")
						figcaption.text-white.text-center.bg-yellow.fz21 機敏警衛隊
					.text.fz13.text-center
						p 特選軍、憲、警特勤退役官兵，擔任警衛隊管理幹部，嚴選身家清白，無債務負擔，身心健康，品德兼優，體態敏捷，應變力強之成員。
						p 施以專業且持續性訓練，以符合客戶尊榮地位，提升駐點安防價值。
				.col-sm-6.col-md-3.col-xs-12
					.img
						img(src=url+"section-1-img-3.png", alt="")
						figcaption.text-white.text-center.bg-yellow.fz21 商辦住宅物業管理
					.text.fz13.text-center
						p 為提供客戶更完整一致的高端服務，天鷹保全於2013年8月1日轉投資設立＂天鷹公寓大廈管理維護股份有限公司＂，並以與“天鷹保全”名稱一致以＂天鷹精緻科技物業＂為服務標章，直接引進英、日式極緻大管家服務，輔以雲端物管平台，期能達成為客戶統整安心、貼近、溫馨的全方位安全護衛目標。
				.col-sm-6.col-md-3.col-xs-12
					.img
						img(src=url+"section-1-img-4.png", alt="")
						figcaption.text-white.text-center.bg-yellow.fz21 展演活動
					.text.fz13.text-center
						p 動員人力迅速，素質優良，勤務教育確實，觀念正確，經驗豐富，慎密規劃
						p 各類型展演活動場地維安人力部署，嚴管人流運行，排除人潮滯留，確保展演者及群眾人安、物安及活動進行順遂。
				.col-sm-6.col-md-3.col-xs-12
					.img
						img(src=url+"section-1-img-5.png", alt="")
						figcaption.text-white.text-center.bg-yellow.fz21 科技園區安檢
					.text.fz13.text-center
						p 進駐前必提出安全規劃書，規劃嚴謹的門禁管制、動線安全的車道哨交通管制、密集的案場周遭巡邏檢查，另對進駐人員施以極致服務訓練事主如親。
						p 為達到安全滴水不漏目標，近年更提供資通訊介面合一的中央控制（CCTV）、保全及防災設備監控系統，業主安全無虞。
						p 客戶的安全為第一考量。
				.col-sm-6.col-md-3.col-xs-12
					.img
						img(src=url+"section-1-img-6.png", alt="")
						figcaption.text-white.text-center.bg-yellow.fz21 社區、工地駐衛保全
					.text.fz13.text-center
						p 大樓平地起，在開挖、立筋、上樑、混泥等等艱鉅困苦的工作環境下，不畏塵土風雨，無論冬夏氣候，對於進出之工務車輛、複雜而大量之各類人員憑證，隨車進出之貴重機具建材，均能依業主要求逐一過濾、嚴格管制，避免造成工區機具及財務遺失。
						p 團隊經驗豐富，口碑遠播。
				.col-sm-6.col-md-3.col-xs-12
					.img
						img(src=url+"section-1-img-7.png", alt="")
						figcaption.text-white.text-center.bg-yellow.fz21 霹靂嬌娃
					.text.fz13.text-center
						p 因應社會變遷及需求，天鷹保全特訓一支技擊段證及極致服務兼具之女性隨扈隊伍，秀外慧中，提供企業主眷屬或女性業主最安心貼心之衛護服務，成為國內少有之守護天使。
				.col-sm-6.col-md-3.col-xs-12
					.img
						img(src=url+"section-1-img-8.png", alt="")
						figcaption.text-white.text-center.bg-yellow.fz21 股東大會
					.text.fz13.text-center
						p 動員人力迅速，素質優良，勤務教育確實，觀念正確，經驗豐富，慎密規劃
						p 各類型展演活動場地維安人力部署，嚴管人流運行，排除人潮滯留，確保展演者及群眾人安、物安及活動進行順遂。
		section.idx.section.section-2.container-fluid
			.row
				.col-sm-6.col-xs-12
					img.img-responsive(src=url+"section-2-img.png", alt="")
				.col-sm-6.col-xs-12
					.module-title
						h3.title
							span.svg(style="background:url("+url+"title-arrow-2.svg); width: 17px; height: 20px;")
							span.fz28 最新消息
							span.fz22 News
					.append-content
		include ../custom_module/footer.pug
		include ../custom_module/gotop.pug