-var url = '/ezfiles/671/1671/img/8854/'
.page-banner.container-fluid
	.row
		.col-xs-12
			.img
				img.hidden-xs.img-responsive(src=url+"page-banner.jpg", alt="")
				img.visible-xs.img-responsive(src=url+"page-banner-mb.jpg", alt="")
			.text
				.content.text-center
					h3.title.fz48.text-white 代表客戶
					h4.sub-title.fz20.text-white 忠誠保密，穩健永續

.page.section.section-1.container-fluid.recruit
	.row
		.col-sm-4.col-xs-12
			a(href="")
				img.img-responsive(src=url+"client-1.jpg", alt="")
		.col-sm-4.col-xs-12
			a(href="")
				img.img-responsive(src=url+"client-2.jpg", alt="")
		.col-sm-4.col-xs-12
			a(href="")
				img.img-responsive(src=url+"client-3.jpg", alt="")
		.col-sm-4.col-xs-12
			a(href="")
				img.img-responsive(src=url+"client-4.jpg", alt="")
		.col-sm-4.col-xs-12
			a(href="")
				img.img-responsive(src=url+"client-5.jpg", alt="")
		.col-sm-4.col-xs-12
			a(href="")
				img.img-responsive(src=url+"client-6.jpg", alt="")
		.col-sm-4.col-xs-12
			a(href="")
				img.img-responsive(src=url+"client-7.jpg", alt="")
		.col-sm-4.col-xs-12
			a(href="")
				img.img-responsive(src=url+"client-8.jpg", alt="")
		.col-sm-4.col-xs-12
			a(href="")
				img.img-responsive(src=url+"client-9.jpg", alt="")
		.col-sm-4.col-xs-12
			a(href="")
				img.img-responsive(src=url+"client-10.gif", alt="")
		.col-sm-4.col-xs-12
			a(href="")
				img.img-responsive(src=url+"client-11.gif", alt="")
		.col-sm-4.col-xs-12
			a(href="")
				img.img-responsive(src=url+"client-12.gif", alt="")
	.row
		.col-xs-12
			p.text-right 由於客戶眾多，無法逐一登入!