-var url = '/ezfiles/671/1671/img/8854/'
.detail
  p 高雄衛武營文化中心進駐前教育訓練自108年6月26日至29日實施4天，每天12小時，由總經理陳耀銘親自主持進駐前精神講話，並由各級幹部分別教授保全人員應接受之課目外，並至現地見習，強化實際經驗。
  .img-list
    img.img-responsive(src=url+"news-1.jpg", alt="")
    img.img-responsive(src=url+"news-2.jpg", alt="")
    img.img-responsive(src=url+"news-3.jpg", alt="")
    img.img-responsive(src=url+"news-4.jpg", alt="")
    img.img-responsive(src=url+"news-5.jpg", alt="")
    img.img-responsive(src=url+"news-6.jpg", alt="")
    img.img-responsive(src=url+"news-7.jpg", alt="")
    img.img-responsive(src=url+"news-8.jpg", alt="")
.detail
  p 108年度第六梯次員工教育訓練課程，於108年6月24日由陳總經理親自主持，參加員工均為社區、住辦駐點警衛同仁，訓練課程包含員工福利、勞基法、職安、禮儀訓練及勤務實況案例研討等內容，並實施測驗；訓練授課人員分由人資、職安、法務部門主管及資深組長教授，以統一做法、改善服務態度、增強處置能力及守法觀念。
  .img-list
    img.img-responsive(src=url+"news-1.jpg", alt="")
    img.img-responsive(src=url+"news-2.jpg", alt="")
    img.img-responsive(src=url+"news-3.jpg", alt="")
    img.img-responsive(src=url+"news-4.jpg", alt="")
    img.img-responsive(src=url+"news-5.jpg", alt="")
    img.img-responsive(src=url+"news-6.jpg", alt="")
    img.img-responsive(src=url+"news-7.jpg", alt="")
    img.img-responsive(src=url+"news-8.jpg", alt="")